:root {
  --fontfamily: "Manrope", sans-serif;
  --primarycolor: #f7f6f4;
  --accentcolor: #709d61;
  --secondarycolor: #000000;
}
.dark {
  --primarycolor: #000000;
  --accentcolor: #21610c;
  --secondarycolor: #ffffff;
}
body {
  min-height: 100%;
  max-width: 1200px;
  background-color: var(--primarycolor);
  margin: 0 auto;
  color: var(--secondarycolor);
  font-family: var(--fontfamily);
}
* {
  margin: 0;
  padding: 0;
  background-color: var(--primarycolor);
  box-sizing: border-box;
}
/*----------------------Navigation Bar--------------------------*/
nav {
  display: flex;
  padding: 20px 15px;
  justify-content: space-between;
  align-items: center;
  color: green;
}
nav img {
  width: 120px;
}
/*-------------Dark Mode-------------------*/
.navlinks {
  flex: 1;
  text-align: right;
  font-family: var(--fontfamily);
}
.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 5px;
  position: relative;
}
.navlinks ul li a {
  color: var(--secondarycolor);
  text-decoration: none;
  font-size: 16px;
}
.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--accentcolor);
  display: block;
  margin: auto;
}
.navlinks ul li:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--accentcolor);
  display: block;
  margin: auto;
  transition: 0.5s;
}
/*-----------------------Welcome Section----------------------*/
.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.flex-item-left span {
  margin-top: 50px;
  font-size: 45px;
  font-family: var(--fontfamily);
}
.flex-item-left p {
  font-size: 16px;
  margin-top: 30px;
  padding-top: 25px;
  font-family: var(--fontfamily);
}
.flex-item-left {
  background-color: var(--primarycolor);
  padding: 50px;
  flex: 50%;
  top: 50%;
  left: 50%;
  text-align: left;
  margin-top: 50px;
}
.flex-item-right {
  background-color: var(--primarycolor);
  padding: 10px;
  flex: 50%;
}
.tbutton {
  display: inline-block;
  text-decoration: none;
  color: var(--primarycolor);
  border: 2px solid var(--accentcolor);
  padding: 12px 12px;
  font-size: 16px;
  background-color: var(--accentcolor);
  margin-top: 50px;
  cursor: pointer;
}
.tbutton:hover {
  display: inline-block;
  text-decoration: none;
  color: var(--primarycolor);
  border: 2px solid #164705;
  padding: 12px 12px;
  font-size: 16px;
  background-color: #185205;
}
/*---------------------Offer Section-------------------*/
.offer p {
  color: var(--accentcolor);
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-size: 16px;
}
.offer h3 {
  color: var(--secondarycolor);
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 45px;
}
.steps {
  display: flex;
  flex-wrap: right;
  text-align: center;
}
.gardensteps {
  flex: basis 31%;
  background-color: var(--primarycolor);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.gardensteps img {
  border-radius: 25px;
}
.gardensteps h3 {
  padding-top: 10px;
  font-size: 20px;
  color: var(--secondarycolor);
  font-family: var(--fontfamily);
}
.gardensteps p {
  padding-top: 10px;
  font-size: 16px;
  color: var(--secondarycolor);
  font-family: var(--fontfamily);
}
/*---------------------------About Us Section-------------------*/
.welcome {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
}
.welcomesectionimg {
  background-color: var(--primarycolor);
  padding: 10px;
  flex: 50%;
  border-image-width: 400px;
}
.welcomesection {
  background-color: var(--primarycolor);
  padding: 10px;
  flex: 50%;
  top: 10%;
  left: 50%;
  text-align: left;
}
.welcomesection h5 {
  color: var(--accentcolor);
  margin-top: 1px;
  padding-top: 100px;
  font-size: 16px;
}
.welcomesection h2 {
  color: var(--secondarycolor);
  margin-top: 5px;
  padding-top: 5px;
  font-size: 45px;
}
.welcomesection p {
  margin-top: 30px;
}

.readmore {
  background-color: var(--primarycolor);
  color: var(--accentcolor);
}
.readmore:hover {
  display: inline-block;
  text-decoration: none;
  color: var(--accentcolor);
  border: 2px solid #164705;
  padding: 12px 12px;
  font-size: 16px;
}
/*------------------Solutions Section----------------*/
.sol {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding-top: 50px;
}
.sols img {
  border-radius: 25px;
}
.sols {
  flex: 31%;
  background-color: var(--primarycolor);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
.sols h3 {
  padding-top: 25px;
  font-size: 20px;
  color: var(--secondarycolor);
  text-align: left;
  font-family: var(--fontfamily);
}
.sols p {
  padding-top: 25px;
  font-size: 16px;
  color: var(--secondarycolor);
  text-align: left;
  font-family: var(--fontfamily);
}
/*---------------------------Projects Section-------------------------*/
.projects {
  gap: 16px;
}
.pro img {
  height: 200px;
  margin-bottom: -100;
  margin-left: 0;
}
/*-------------------------Testimonial Section----------------------*/
.test {
  background-color: var(--primarycolor);
  padding: 20px 100px;
  flex: 70%;
  padding-top: 100px;
  top: 50%;
  left: 50%;
  text-align: center;
}
.test img {
  border-radius: 25px;
  padding-left: 5px;
}
.test p {
  padding-top: 10px;
  font-size: 16px;
  color: var(--secondarycolor);
  text-align: left;
  font-family: var(--fontfamily);
}
.test h3 {
  padding-top: 10px;
  font-size: 16px;
  color: var(--secondarycolor);
  text-align: left;
}
.test h4 {
  padding-top: 10px;
  font-size: 16px;
  color: var(--secondarycolor);
  text-align: left;
}
.testimg {
  background-color: var(--primarycolor);
  padding: 50px 100px;
  flex: 30%;
  border-image-width: 400px;
  align-items: flex-start;
}
.testimg img {
  border-radius: 20px;
}
/*--------------------------------Newsletter Section-------------------*/
.container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.textbox {
  position: absolute;
  top: 42;
  left: -80;
  width: 100px;
  height: 50px;
}
.textboxclass {
  height: 60px;
  width: 350px;
  border-radius: 10px;
}
.subscribe {
  position: absolute;
  top: 0;
  left: 60;
  border-radius: 10px;
}
.text form {
  margin-top: 50px;
  text-align: center;
  height: 50px;
  width: auto;
}
.subscribe {
  text-align: center;
  margin-left: 600px;
}
.text {
  display: flex;
  flex-direction: row;
}
.textbox {
  margin-left: 500px;
}

/*--------------------------------Footer Section-----------------------*/
.flexy {
  padding-top: 200px;
  display: flex;
}
.flexy > div {
  flex-basis: 25%;
  padding: 20px 15px;
}
.flexy1 {
  margin-right: 25px;
}
.flexy1 p {
  margin-top: 35px;
  line-height: 1.6;
}

.flexy2 ul {
  margin-top: 20px;
  list-style: none;
}
.flexy2 li {
  padding-top: 15px;
}
/*---------------------Dark Mode--------------------------*/
#moon {
  width: 25px;
  cursor: pointer;
}
nav ul {
  flex: 1;
  text-align: right;
}
/*-----------------------------------------------------------*/
